# The directory Mix will write compiled artifacts to.
_build/

# If you run "mix test --cover", coverage assets end up here.
cover/

# The directory Mix downloads your dependencies sources to.
deps/

# Where third-party dependencies like ExDoc output generated docs.
doc/

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
tarot_agent-*.tar

# Temporary files, for example, from tests.
tmp/

# Ignore locally built binaries (they should be built in CI/CD)
tarot_agent
tarot_agent.exe

# Environment and config files with secrets
.env

# MacOS files
.DS_Store
